/* style.css */
@font-face {
  font-family: 'Cafe24Oneprettynight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-color: #6C774A;
  --bg-color: #EFF1E4;
  --bg-color2: #ECE4EC;
  --text-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Cafe24Oneprettynight';
  font-weight: normal;
  /* width: 100%; */
  max-width: 600px;
  margin: 0 auto;
}


/* 첫번째 페이지 - 메인 */
#title-page {
  width: 100%;
  height: 100vh;;
}

#title-page figure {
  width: 100%;
  height: 100%;
  background-image: url(../images/title-bg2.jpg);
  background-size: cover;
  background-position: bottom;
}

#title-page figure figcaption {
  text-align: center;
}

figcaption .date {
  padding-top: 90px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: normal;
  color: var(--main-color);
}

figure figcaption .main-text {
  margin: 0 auto;
  width: 40%;
  border-top: 1px solid #A798AA;
  border-bottom: 1px solid #A798AA;
}

.main-text .marry {
  padding: 12px 0;
  font-size: 22px;
  font-weight: normal;
  color: var(--main-color);
}

.main-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: normal;
  color: var(--main-color);
}

figure figcaption .main-name > .heart {
  color: #A691AA;
}


/* 두번째 페이지 - 인사말 */
#greetings-page {
  width: 100%;
  background-color: var(--bg-color);
  padding-top: 20px;
}

#greetings-page .text-box {
  background-image: url(../images/greeting-box.jpg);
  background-size: cover;
  background-position: center;
  border: 1px solid #E8E9E3;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  display: block;
}

.text-box > h2 {
  font-weight: normal;
  font-size: 20px;
  color: var(--main-color);
  margin-top: 40px;
}

.text-box .greetings {
  /* outline: 1px solid red; */
  margin-top: 40px;
  margin-bottom: 40px;
}

.greetings p > .heart {
  color: #DBE1BC;
  font-size: 16px;
}

.greetings p {
  font-size: 18px;
  line-height: 30px;
}

.name-box {
  margin-bottom: 50px;
}

.name-box p {
  line-height: 30px;
  font-size: 16px;
}

.name-box p .groom,
.name-box p .bride {
  font-size: 18px;
}

.call-box {
  /* outline: 1px solid green; */
  width: 50%;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.call-box #to-groom {
  font-size: 14px;
  text-align: center;
  margin-right: 15px;
}

.call-box #to-bride {
  font-size: 14px;
  text-align: center;
}

.call-box #to-groom > img,
.call-box #to-bride > img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 1px solid #6c774a0c;
}

.call-box #to-groom .icon,
.call-box #to-bride .icon {
  margin-top: 10px;
}

.call-box #to-groom .icon a i > img:first-child,
.call-box #to-bride .icon a i > img:first-child {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: 7px;
}

.call-box #to-groom .icon a i > img:first-child,
.call-box #to-bride .icon a i > img:first-child {
  cursor: pointer;
}


/* 세번째 페이지 - 갤러리 */
#gallery {
  background: var(--bg-color2);
  width: 100%;
  text-align: center;
}

#gallery > h2 {
  font-size: 20px;
  font-weight: normal;
  color: var(--main-color);
  padding-top: 37px;
  padding-bottom: 35px;
}

#gallery .container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
}

#gallery .container a {
  display: block;
  width: 50%;
  padding-left: 5px;
  padding-bottom: 5px;
  
}

#gallery .container a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

#gallery .container a:first-child,
#gallery .container a:nth-child(3),
#gallery .container a:nth-child(5) {
 padding-left: 0;
}

#gallery .pager {
  width: 95%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

#gallery .pager > .page-number {
  color: var(--main-color);
  font-size: 14px;
  font-family: sans-serif;
}


/* 네번째 페이지 - 오시는 길 */
#location-page {
  background: var(--bg-color);
  width: 100%;
}

#location-page > h2 {
  font-weight: normal;
  font-size: 20px;
  padding-top: 40px;
  color: var(--main-color);
  text-align: center;
}

#location-page .map {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 35px;
  /* outline: 1px solid palevioletred; */
}

#location-page .map > iframe {
  width: 100%;
  height: 230px;
}

#location-page #wedding-hall {
  text-align: center;
}

#location-page #wedding-hall > h1 {
  font-weight: normal;
}

#wedding-hall .address {
  font-size: 16px;
  color: var(--text-color);
  line-height: 22px;
  margin-bottom: 30px;
}

#wedding-hall .address > a i {
  font-style: normal;
  font-family: sans-serif;
  font-size: 14px;
  color: var(--main-color);
}

.transportation {
  padding-bottom: 35px;
  width: 80%;
  margin: 0 auto;
}

.transportation > ul {
  border-top: 1px solid #C4C5BC;
  border-bottom: 1px solid #C4C5BC;
  padding-left: 20px;
  font-size: 18px; 
  /* outline: 1px solid red;  */
}

.transportation > ul > li {
  display: flex;
  /* outline: 1px solid red; */
}

.transportation > ul > .bus {
  padding: 30px 0;
}

.reception {
  padding-bottom: 30px;
}

.subway, .parking {
  padding-bottom: 30px;
}


.text-black {
  color: #000;
}

.more-info {
  color: #4E5636;
  line-height: 22px;
  font-size: 16px;
  padding-left: 15px;
}


/* footer */
footer {
  width: 100%;
  background: var(--bg-color2);
  text-align: center;
}

footer > img {
  width: 30%;
}
















